<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="/css/style.css">
    <title>Jeopardy Helper | Add Users and Buzz</title>
</head>

<body>

<div id="example-1" class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="container sidebar-teams-side">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">         
                        <a href="#" class="btn btn-primary btn-md add-team-button top-button-width" id="add-team-btn" v-on:click="createTeamAndRedirect()">Add a team</a>
                    </div>
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary btn-md clear-teams-button top-button-width" id="clear-teams-btn" v-on:click="deleteTeams()">Clear Teams</a>
                    </div>
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary btn-md clear-buzzer-times-button top-button-width" id="clear-teams-btn" v-on:click="clearClickedTime()">Clear Buzzer Times</a>
                    </div>
                    <hr>

                    <div class="col-md-12">
                        <h2> TEAMS: </h2>
                        <div v-if="tloaded.length == 0">
                            <h2> No Teams</h2>
                        </div>
                        <ul v-for="item in tloaded">
                            <a href="#" class="" v-on:click="setSelectedTeam(item)">
                                <div class="media">
                                    <img src="https://image.flaticon.com/icons/png/128/27/27825.png" height="22" width="22" class="mr-2" alt="Team Icon">
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ item }}</h5>
                                    </div>
                                </div>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>  
    </nav>

    <nav class="navbar navbar-expand-lg sticky-top mobile-nav">
        <span class="navbar-brand wide">
            <img src="/images/jeopardy-logo.png" class="mr-3 logo" alt="...">
            <span><h4 class="title">BUZZER</h4></span>
        </span>
    </nav>

        <div id="content" style="text-align:center">
            <div class="container col-12">
                <div class="desktop-nav">
                    <img src="/images/jeopardy-logo.png" class="mr-3 logo" alt="...">
                    <span><h4 class="title">BUZZER</h4></span>
                </div>
            </div>

            <div class="container teams-side">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">         
                            <a href="#" class="btn btn-primary btn-lg add-team-button top-button-width" id="add-team-btn" v-on:click="createTeamAndRedirect()">Add a team</a>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-primary btn-lg clear-teams-button top-button-width" id="clear-teams-btn" v-on:click="deleteTeams()">Clear Teams</a>
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-primary btn-lg clear-buzzer-times-button top-button-width" id="clear-teams-btn" v-on:click="clearClickedTime()">Clear Buzzer Times</a>
                        </div>
                        <hr>

                        <div class="col-md-4">
                            <h2> TEAMS: </h2>
                            <div v-if="tloaded.length == 0">
                                <h2> No Teams</h2>
                            </div>
                            <ul v-for="item in tloaded">
                                <a href="#" class="" v-on:click="setSelectedTeam(item)">
                                    <div class="media">
                                        <img src="https://image.flaticon.com/icons/png/128/27/27825.png" height="22" width="22" class="mr-2" alt="Team Icon">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{ item }}</h5>
                                        </div>
                                    </div>
                                </a>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>  
                
            <div class="container">
                <div class="col-12 buzzer-side">      
                    <h2 class="selected-team">SELECTED TEAM:</h2>
                    <h3>{{ selectedTeam }} </h3>
                    <div v-if="selectedTeam == 'No team has been selected'">
                        <h6>To select a team, click one of the available teams.</h6>
                    </div>
                    <div class="container buzzer" v-if="selectedTeam != 'No team has been selected'">
                        <a href="#" class="btn btn-danger btn-lg buzzer-button" v-on:click="updateClickedTime(selectedTeam)">Buzzer</a>
                        <h2 class="buzzed-teams">BUZZED TEAMS:</h2>
                        <ul v-for="(team, index) in orderedBuzzClicks">
                            {{ index+1 }}. {{ team.name }}
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
</div>
   
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="//cdn.jsdelivr.net/combine/npm/jquery@3.2.1,npm/axios@0.17.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"></script>
    
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
    
    <!-- <script src="/app.js"></script> -->

    <script>
        var vm = new Vue({
            el: '#example-1',
            data: {
                message: 'Hello',
                tloaded: [],
                selectedTeam: 'No team has been selected',
                buzzedTeams: []
            },
            computed: {
                orderedBuzzClicks: function () {
                    return _.orderBy(this.buzzedTeams, 'clickedTime')
                }
            },
            watch: {
                tloaded: function (){
                    this.reloadTeams()
                },
                selectedTeam: function (){},
                buzzedTeams: function (){}
            },
            created() {
                /**
                 * Load the teams to the page...
                 */
                var loadedTeamsArray = []
                axios.get('/teams')
                .then(response => {
                const teams = response.data
                        for (const key in teams) {
                            if (teams.hasOwnProperty(key)) {
                                loadedTeamsArray.push(teams[key].name)
                            }
                        }
                        this.tloaded = loadedTeamsArray
                    })
                .catch(e => {
                this.errors.push(e)
                })
            },
            methods: {
                createTeamAndRedirect: function(evt) {
                    var teamName = prompt("Please enter your team name with no spaces!")
                    if(teamName != null){
                    teamName = teamName.replace(' ','')
                        axios.post('/teams/' + teamName)
                        .then(response => console.log(response.data))
                    }
                },
                reloadTeams: async function(){
                    var loadedTeamsArray = []
                    var loadedBuzzedTeamsArray = []
                    let result = await axios.get('/teams').then(response => {
                        const teams = response.data
                        for (const key in teams) {
                            if (teams.hasOwnProperty(key)) {
                                loadedTeamsArray.push(teams[key].name)
                                if(teams[key].clickedTime != ''){
                                    loadedBuzzedTeamsArray.push(teams[key])
                                }  
                            }
                        }
                    })
                    this.tloaded = loadedTeamsArray
                    this.buzzedTeams = loadedBuzzedTeamsArray

                    if(this.tloaded.length == 0){
                        this.setSelectedTeam('No team has been selected' )
                    }
                },
                setSelectedTeam: function (teamName){
                    this.selectedTeam = teamName
                    console.log("Selected Team: " + this.selectedTeam)
                },
                deleteTeams: async function(evt) {
                    this.selectedTeam = 'No team has been selected' 
                    this.buzzedTeams = []                    
                    let result = await axios.delete('/teams/delete')
                    .then(response => {
                        console.log(response.data);
                    })                   
                },
                updateClickedTime: async function(teamName) {
                    console.log(teamName + " buzzed")
                    let result = await axios.put('/teams/' + teamName + '/clickedBuzzer')
                    .then(response => {
                        console.log(response.data);
                    })  
                },
                clearClickedTime: async function(){
                    let result = await axios.put('/teams/clearClickedTime')
                    .then(response => {
                        console.log(response.data);
                        this.buzzedTeams = []
                    })  
                }             
            }
        })
    </script>

</body>
</html>
