.navbar .navbar-brand {
    margin: 0;
}
.navbar .navbar-brand.wide {
    width: 100%;
    display: block;
    text-align: center;
}


ul {
    margin-bottom: 0px;
    padding-left: 0px;
}


.buzzer-button{
    margin-bottom: 25px;
}

.teams-side{
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    background-color: #F1F5F2;
}

.media{
    text-align: left;
    color: black;
}

.buzzer-side{
    padding-top: 20px;
    margin-bottom: 50px;
}


@media (max-width: 600px){
    body{
        background-color: #292F36;
    }

    ul{
        padding: auto;
        margin: auto;
        width: 32%;
    }

    .buzzer-side >  h2{
        color: #439A86;
    }

    .buzzed-teams > h2{
        color: #E0A458;
    }

    .buzzer-side{
        background-color: #292F36;
        color: white;
        text-align: center;
    }

    .buzzer{
        margin-top: 25px;
    }

    .teams-side{
        color: black;
        text-align: center;
    }

    .clear-buzzer-times-button{
        background-color: #A0B2A6;
        border-color: #A0B2A6;
        margin-top: 5px;
    }

    .clear-teams-button{
        background-color: #439A86;
        border-color: #439A86;
        margin-top: 5px;
    }    

    .add-team-button{
        background-color: #007991;
    }
    
    .top-button-width{
        width: 205px;
    }

    .logo{
        width: 65%
    }

    .title{
        color:  #007991;
    }

    .navbar{
        background-color: #F1F5F2;
    }

    .selected-team{
        margin-bottom: 0px;
    }
}
